
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1501142121172'); /* IE9*/
  src: url('../font/iconfont.eot?t=1501142121172#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1501142121172') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1501142121172') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/	iconfont.svg?t=1501142121172#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e714"; }

.icon-shoujihao:before { content: "\e622"; }

.icon-ditu:before { content: "\e621"; }

.icon-xiangmu:before { content: "\e782"; }

.icon-shouye:before { content: "\e604"; }

.icon-xiangxia:before { content: "\e70f"; }

.icon-arrawup:before { content: "\e623"; }

.icon-weibiaoti6-copy:before { content: "\e670"; }

.icon-jineng:before { content: "\e71f"; }

.icon-inauguration:before { content: "\e877"; }

.icon-kefu:before { content: "\e553"; }

.icon-zuoyoujian:before { content: "\e606"; }

.icon-lianxi:before { content: "\e671"; }

.icon-wanjiaxinxi:before { content: "\e61a"; }

.icon-erji:before { content: "\e609"; }

